@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:#FFF8DB;
    height: 20vh;
}
nav h1{
    
    color: #304463;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
}
.object{
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
   
}
.tab a{
    text-decoration: none;
    display: inline;
    margin: 10px;
    padding:20px ;
    color:#304463;
    font-family: "poppins", serif;
    font-weight: 700;
    transition: 0.2s ease-in;

}
.tab a:hover{
    color:#FFC7ED;
}
.blog{
    background-color:#7D8ABC;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 700;
    border: 2px solid #304463;
    border-radius: 20px;

}


.blog h1{
   padding: 35px;
   padding-bottom: 0px;
   margin-left: 10px;
}
.blog p{
    margin-left: 40px;
    line-height: 1.6;
    word-spacing: 2px;
    font-family: "poppins", serif;
    font-weight: 700;
    padding: 20px;
}
footer{
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #304463;
    height: 8vh;
    font-family: "poppins", serif;
    font-weight: 700;
    text-align: center;
    padding-top: 13px;
    color: white;
}
